*.log
*.pot
*.pyc
*.py~
*.html~
*.css~
*.js~
*.json~
*.xml~
'.txt~
demo.db
demo.db*
sqlite.db
local_settings.py
htdocs/
wp-config.php
wp-config-sample.php
wp-content/media/*
wp-content/plugins/*
.htaccess
.directory
