{% extends "admin/app_index.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ STATIC_URL }}blog/css/jquery.autocomplete.css" />
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ STATIC_URL }}blog/css/dashboard_blog.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script
        type="text/javascript"
        src="{{ STATIC_URL }}blog/js/jquery.js">
    </script>
    <script
        type="text/javascript"
        src="{{ STATIC_URL }}blog/js/jquery.masonry.js">
    </script>
    <script
        type="text/javascript"
        src="{{ STATIC_URL }}blog/js/jquery.bgiframe.js">
    </script>
    <script
        type="text/javascript"
        src="{{ STATIC_URL }}blog/js/jquery.autocomplete.js">
    </script>
    <script
        type="text/javascript"
        src="{% url admin:blog_entry_autocomplete_tags %}">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#content-main").masonry({
                singleMode: true,
                itemSelector: ".module"
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include "admin/blog/widgets/content_stats.html" %}
        {% include "admin/blog/widgets/quickpost.html" %}
        {% include "admin/blog/widgets/recent_comments.html" %}
        {% include "admin/blog/widgets/draft_entries.html" %}
        {% include "admin/blog/widgets/recent_linkbacks.html" %}
    </div>
{% endblock %}