{% extends "base.html" %}
{% load i18n blog_tags %}

{% block title %}{% trans "Server error" %} - {{ block.super }}{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>{% trans "Server error" %}</h2>
        </header>
        <div class="entry-content">
            <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
            <h3>{% trans "Useful links" %}</h3>
            <ul>
                <li><a href="{% url blog_entry_archive_index %}" title="{% trans 'Blog index' %}">{% trans "Blog index" %}</a></li>
                <li><a href="{% url blog_sitemap %}" title="{% trans 'Sitemap' %}">{% trans "Sitemap" %}</a></li>
            <ul>
            <h3>{% trans "Recent entries" %}
            <div class="recent">
                {% get_recent_entries 5 %}
            </div>
            <h3>{% trans "Search" %}</h3>
            <div class="search">
                <form method="GET" class="searchform" role="search" action="#">
                    <div>
                        <input type="text" class="text blue" placeholder="{% trans 'Search gironimo.org' %}" name="s" id="s">
                        <button type="submit" class="blue">
                            <span>{% trans "Search" %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </article>
{% endblock %}
