{% extends "blog/base.html" %}
{% load i18n blog_tags %}

{% block description %}
    {% trans "Author list on" %} {{ site_name }}
{% endblock %}

{% block title %}
    {% trans "Authors" %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url blog_author_list %}" rel="author" title="{% trans 'List all authors' %}">&raquo; {% trans "Authors" %}</a>
{% endblock %}

{% block body-class %}{{ block.super }} author-list{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>
                <a href="{% url blog_author_list %}" rel="author" title="{% trans 'List all authors on' %} {{ site_name }}">
                    {% trans "Authors on" %} {{ site_name }}
                </a>
            </h2>
        </header>
        <div class="entry-content">
            <div class="authors">
                {% for object in object_list %}
                    <div class="author-box">
                        <img src="{% get_gravatar object.email 78 'G' %}" class="gravatar photo" alt="{{ object.user_name }}" width="78" height="78" />
                        <h3><a href="{% url blog_author_detail object.username %}" title="{% trans 'View all entries by' %} {% if object.first_name %}{{ object.first_name }}{% if object.last_name %} {{ object.last_name }}{% endif %}{% else %}{{ object.username }}{% endif %}">{% if object.first_name %}{{ object.first_name }}{% if object.last_name %} {{ object.last_name }}{% endif %}{% else %}{{ object.username }}{% endif %}</a></h3>
                        {% with author_description=object.get_profile.about %}
                            {% if author_description %}
                                <p>{{ author_description }}</p>
                            {% else %}
                                <p>{% trans "No author description yet." %}</p>
                            {% endif %}
                            {% with entry_count=object.entries_published.count %}
                                <p class="entries-published">{% trans "Currently published entries:" %} <span>{{ entry_count }}</span></p>
                            {% endwith %}
                        {% endwith %}
                        <div class="clear"></div>
                        <h4>{% trans "Random entries" %}</h4>
                        {% get_random_author_entries object.username '3' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}
