{% extends "base.html" %}
{% load i18n blog_tags %}

{% block title %}
    {% trans "Blog" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url index %}" title="{% trans 'Go to Homepage' %}">Blog</a></li>
{% endblock %}

{% block sidebar %}
    <aside id="search" class="widget search">
        <h3 class="widget-title">
            {% trans "Search gironimo.org" %}
        </h3>
        <div class="widget-content">
            <form role="search" method="GET" class="searchform" action="{% url blog_entry_search %}">
                <div>
                    <label class="screen-reader-text" for="s"></label>
                    <input type="text" class="text blue" placeholder="{% trans 'search gironimo.org' %}" name="s" id="s">
                    <button type="submit" class="blue">
                        <span>{% trans "Search" %}</span>
                    </button>
                    <a class="search-help-button">{% trans "Help" %}</a>
                </div>
                <div>
                    <p class="search-help">
                        {% blocktrans %}
                            You can use <strong>-</strong> to exclude words or 
                            phrases, <strong>&quot;double quotes&quot;</strong> 
                            for exact phrases and the <strong>AND/OR</strong> 
                            boolean operators combined with parenthesis for 
                            complex searchs.
                        {% endblocktrans %}
                    </p>
                </div>
            </form>
        </div>
    </aside>
    <div class="sidebar-left">
        <aside id="follow" class="widget follow">
            <h3 class="widget-title">
                Follow Me
            </h3>
            <div class="widget-content">
                <ul class="clearfix">
                    <li class="rss"><a href="#">RSS Feed</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="youtube"><a href="#">YouTube</a></li>
                    <li class="gplus"><a href="#">Google+</a></li>
                    <li class="lastfm"><a href="#">Last.fm</a></li>
                    <li class="deviantart"><a href="#">Deviantart</a></li>
                    <li class="xing"><a href="#">Xing</a></li>
                </ul>
            </div>
        </aside>
        <aside id="authors" class="widget authors">
            <h3 class="widget-title">
                {% trans "Authors" %}
            </h3>
            <div class="widget-content">
                {% get_authors %}
            </div>
        </aside>
        <aside id="categories" class="widget categories">
            <h3 class="widget-title">
                {% trans "Categories" %}
            </h3>
            <div class="widget-content">
                {% get_categories %}
            </div>
        </aside>
        <aside id="archives" class="widget archives">
            <h3 class="widget-title">
                {% trans "Archives" %}
            </h3>
            <div class="widget-content">
                {% get_archives_entries %}
            </div>
        </aside>
        <aside id="links" class="widget links last">
            <h3 class="widget-title">
                Links
            </h3>
            <div class="widget-content">
                <ul>
                    <li><a href="#" title="">Dr. Scream</a></li>
                    <li><a href="#" title="">Marcel Volz</a></li>
                    <li><a href="#" title="">Mark Schewe</a></li>
                    <li><a href="#" title="">Tortugabay</a></li>
                    <li><a href="#" title="">Wiedi</a></li>
                    <li><a href="#" title="">Webmasterpro</a></li>
                    <li><a href="#" title="">Team23 Webdesign</a></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="sidebar-right">
        <aside id="amazon" class="widget amazon">
            <h3 class="widget-title">
                Amazon Angebote
            </h3>
            <div class="widget-content">
                <a href="#"><img alt="Amazon" src="/static/lib/images/amazon.jpg" /></a>
            </div>
        </aside>
        <aside id="popular" class="widget popular">
            <h3 class="widget-title">
                {% trans "Popular entries" %}
            </h3>
            <div class="widget-content">
                {% get_popular_entries 7 %}
            </div>
        </aside>
        <aside id="recent-comments" class="widget comments">
            <h3 class="widget-title">
                {% trans "Recent comments" %}
            </h3>
            <div class="widget-content">
                {% get_recent_comments 7 %}
            </div>
        </aside>
        <aside id="calendar" class="widget calendar">
            <h3 class="widget-title">
                {% trans "Calendar" %}
            </h3>
            <div class="widget-content">
                {% get_calendar_entries %}
            </div>
        </aside>
        <aside id="tags" class="widget tags">
            <h3 class="widget-title">
                {% trans "Tags" %}
            </h3>
            <div class="widget-content">
                {% get_tag_cloud %}
            </div>
        </aside>
        <aside id="newest" class="widget newest">
            <h3 class="widget-title">
                {% trans "Recent Entries" %}
            </h3>
            <div class="widget-content">
                {% get_recent_entries 7 %}
            </div>
        </aside>
        <aside id="admin-panel" class="widget admin last">
            <h3 class="widget-title">
                {% trans "Admin area" %}
            </h3>
            <div class="widget-content">
                <ul>
                    {% if user.is_authenticated %}
                        {% if perms.blog %}
                            <li>
                                <a href="{% url admin:app_list 'blog' %}" title="{% trans 'Dashboard' %}">
                                    {% trans "Dashboard" %}
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.blog.add_entry %}
                            <li>
                                <a href="{% url admin:blog_entry_add %}" title="{% trans 'Post an entry' %}">
                                    {% trans "Post an entry" %}
                                </a>
                            </li>
                        {% endif %}
                        {% block admin_tools %}{% endblock %}
                        <li>
                            <a href="{% url admin:logout %}" title="{% trans 'Logout' %}">
                                {% trans "Logout" %}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url admin:index %}" title="{% trans 'Login' %}">
                                {% trans "Login" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </aside>
    </div>
{% endblock %}
