{% extends "blog/base.html" %}
{% load i18n mptt_tags %}

{% block description %}
    {% trans "Category list on" %} {{ site_name }}
{% endblock %}

{% block title %}
    {% trans "Category" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>
                <a href="{% url blog_category_list %}" rel="tag category" title="{% trans 'List all categories on' %} {{ site_name }}">
                    {% trans "Category list" %}
                </a>
            </h2>
        </header>
        <div class="entry-content">
            <ul class="category-root">
                {% recursetree object_list %}
                <li>
                    <a href="{{ node.get_absolute_url }}" title="{% trans 'View all entries in' %} {{ node }}" rel="category_tag">
                        {{ node }}
                    </a>
                    {% blocktrans count entry_count=node.entries_published.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
                    {% if node.image %}
                        <p class="entry-image">
                            <a href="{{ node.get_absolute_url }}" rel="category tag" title="{% trans 'View all entries in' %} {{ node }}">
                                <img src="{{ node.image.url }}" alt="{{ node }}" />
                            </a>
                        </p>
                    {% endif %}
                    {% if node.description %}
                        <p>
                            {{ node.description|striptags|safe }}
                        </p>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="category-children category-{{ node.slug }}">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
                {% if not object_list %}
                    <li>{% trans "No categories yet." %}</li>
                {% endif %}
            </ul>
        </div>
    </article>
{% endblock %}
