{% extends "blog/base.html" %}
{% load i18n comments blog_tags %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block description %}
    {% if object.excerpt %}
        {{ object.excerpt|striptags }}
    {% else %}
        {{ object.content|striptags|truncatewords:160 }}
    {% endif %}
{% endblock %}

{% block keywords %}
    {% if object.categories.count %}
        {% for category in object.categories.all %}
            {{ category }},
        {% endfor %}
    {% endif %}
    {% if object.tags %}
        {{ object.tags }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block link %}
    {{ block.super }}
    {% with previous_entry=object.previous_entry %}
        {% if previous_entry %}
            <link
                rel="prev"
                title="{{ previous_entry.title }}"
                href="{{ previous_entry.get_absolute_url }}" />
        {% endif %}
    {% endwith %}
    {% with next_entry=object.next_entry %}
        {% if next_entry %}
            <link
                rel="next"
                title="{{ next_entry.title }}"
                href="{{ next_entry.get_absolute_url }}" />
        {% endif %}
    {% endwith %}
    <link
        rel="shortlink"
        href="{{ object.short_url }}" />
    <link
        rel="canonical"
        href="{{ object.get_absolute_url }}" />
    {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of discussions on' %} '{{ object.title }}'"
            href="{% url blog_entry_discussion_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of comments on' %} '{{ object.title }}'"
            href="{% url blog_entry_comment_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of pingbacks on' %} '{{ object.title }}'"
            href="{% url blog_entry_pingback_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of trackbacks on' %} '{{ object.title }}'"
            href="{% url blog_entry_trackback_feed year month day object.slug %}" />
    {% endwith %}
{% endblock %}

{% block body-class %}{{ block.super }} entry-detail{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for category in object.categories.all %}
        <a href="{{ category.get_absolute_url }}" title="{% trans 'View all entries in' %} {{ category }}">&raquo; {{ category }}</a>
    {% endfor %}
    <a href="{{ object.get_absolute_url }}" title="{% trans 'View' %} {{ object.title }}">&raquo;{{ object.title }}</a>
{% endblock %}

{% block content %}
    <arcticle id="post-{{ object.pk }}" class="post">
        {% block entry-content %}
            {% with object_content=object.html_content|safe %}
                {% include "blog/_entry_detail.html" %}
            {% endwith %}
        {% endblock %}
        
        {% block entry-authors %}
            {% if object.authors.count %}
                <aside class="authors">
                    {% for author in object.authors.all %}
                        <div class="author-box">
                            <img src="{% get_gravatar author.email 78 'G' %}" class="gravatar photo" alt="{{ author.user_name }}" width="78" height="78" />
                            <h3><a href="{% url blog_author_detail author %}" title="{% trans 'View all entries by' %} {% if author.first_name %}{{ author.first_name }}{% if author.last_name %} {{ author.last_name }}{% endif %}{% else %}{{ author }}{% endif %}">{% if author.first_name %}{{ author.first_name }}{% if author.last_name %} {{ author.last_name }}{% endif %}{% else %}{{ author }}{% endif %}</a></h3>
                            {% with author_description=author.get_profile.about %}
                                {% if author_description %}
                                    <p>{{ author_description }}</p>
                                {% else %}
                                    <p>{% trans "No author description yet." %}</p>
                                {% endif %}
                            {% endwith %}
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                </aside>
            {% endif %}
        {% endblock %}
        
        {% block entry-widgets %}
            <div class="entry-widgets">
                <div class="prev-next-entries">
                    {% with next_entry=object.next_entry %}
                        {% if next_entry %}
                            <aside class="entry-next">
                                <h3>{% trans "Next entry" %}</h3>
                                <ul>
                                    <li><a href="{{ next_entry.get_absolute_url }}" title="{% trans 'View' %} {{ next.entry.title }}" rel="next">
                                        {{ next_entry.title }}
                                    </a></li>
                                </ul>
                            </aside>
                        {% endif %}
                    {% endwith %}
                    {% with previous_entry=object.previous_entry %}
                        {% if previous_entry %}
                            <aside class="entry-previous{% if object.next_entry %} topmargin{% endif %}">
                                <h3>{% trans "Previous entry" %}</h3>
                                <ul>
                                    <li><a href="{{ previous_entry.get_absolute_url }}" title="{% trans 'View' %} {{ previous_entry.title }}" rel="prev">
                                        {{ previous_entry.title }}
                                    </a></li>
                                </ul>
                            </aside>
                        {% endif %}
                    {% endwith %}
                </div>
                {% if object.related_published %}
                    <aside class="entry-related">
                        <h3>{% trans "Related entries" %}</h3>
                        <ul>
                            {% for entry in object.related_published %}
                                <li>
                                    <a href="{{ entry.get_absolute_url }}" title="{% trans 'View' %} {{ entry.title }}" rel="bookmark">
                                        {{ entry.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                {% endif %}
                <aside class="entry-similar">
                    <h3>{% trans "Similar entries" %}</h3>
                    {% get_similar_entries 5 %}
                </aside>
                <div class="clear"></div>
            </div>
        {% endblock %}
        
        {% block entry-comments %}
            <aside id="comments">
                <h3>{% trans "Comments" %}{% if object.comments.count %} ({{ object.comments.count }}){% endif %}</h3>
                {% with comment_list=object.comments %}
                    {% if comment_list.count %}
                        {% for comment in comment_list %}
                            <article id="comment_{{ comment.pk }}" class="comment">
                                <header>
                                    <img src="{% get_gravatar comment.email 68 'G' %}" alt="{{ comment.user_name }}" />
                                    <span class="author">
                                        {% if comment.url %}
                                            <a href="{{ comment.url }}" rel="external nofollow">{{ comment.user_name }}</a>
                                        {% else %}
                                            {{ comment.user_name }}
                                        {% endif %}
                                    </span>
                                    <span class="date">
                                        {% trans "on" %}
                                        <time datetime="{{ comment.submit_date|date:'c' }}"><a href="{{ object.get_absolute_url }}#comment_{{ comment.pk }}">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}</a></time>
                                    </span>
                                    <div class="clear"></div>
                                </header>
                                <div class="comment-info">
                                    {{ comment.comment|linebreaks }}
                                </div>
                            </article>
                        {% endfor %}
                        {% if not object.comments_are_open %}
                            <p>{% trans "Comments are closed." %}</p>
                        {% endif %}
                    {% else %}
                        {% if object.comments_are_open %}
                            {% url object.get_absolute_url as entry_url %}
                            <p>{% blocktrans %}No comments yet. <a href="{{ entry_url }}#new-comment">Be the first!</a>{% endblocktrans %}</p>
                        {% else %}
                            <p>{% trans "Comments are closed." %}</p>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </aside>
        {% endblock %}
        
        {% block entry-pingbacks %}
            <aside id="pingbacks">
                <h3>{% trans "Pingbacks" %}</h3>
                {% with pingback_list=object.pingbacks %}
                    {% if pingback_list.count %}
                        {% for pingback in pingback_list %}
                            <article id="pingback_{{ pingback.pk }}" class="pingback">
                                <header>
                                    <a href="{{ pingback.url }}" rel="external nofollow">
                                        {{ pingback.user_name }}
                                    </a>
                                    {% trans "on" %}
                                    <time datetime="{{ pingback.submit_date|date:'c' }}">{{ pingback.submit_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                </header>
                                <p class="pingback-info">
                                    {{ pingback.comment }}
                                </p>
                            </article>
                        {% endfor %}
                    {% endif %}
                    {% if object.pingback_enabled %}
                        <p>{% trans "Pingbacks are open." %}</p>
                    {% else %}
                        <p>{% trans "Pingbacks are closed." %}</p>
                    {% endif %}
                {% endwith %}
            </aside>
        {% endblock %}
        
        {% block entry-trackbacks %}
            {% with trackback_list=object.trackbacks %}
                {% if trackback_list.count or object.pingback_enabled %}
                    <aside id="trackbacks">
                        <h3>{% trans "Trackbacks" %}</h3>
                        {% if trackback_list.count %}
                            {% for trackback in trackback_list %}
                                <article id="trackback_{{ trackback.pk }}" class="trackback">
                                    <header>
                                        <a href="{{ trackback.url }}" rel="external nofollow">
                                            {{ trackback.user_name }}
                                        </a>
                                        {% trans "on" %}
                                        <time datetime="{{ trackback.submit_date|date:'c' }}">{{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                    </header>
                                    <p class="trackback-info">
                                        {{ trackback.comment }}
                                    </p>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if object.pingback_enabled %}
                            <p>
                                <a href="{% url blog_entry_trackback object.pk %}" rel="trackback">
                                    {% trans "Trackback URL " %}
                                </a>
                            </p>
                        {% endif %}
                    </aside>
                {% endif %}
            {% endwith %}
        {% endblock %}
        <div class="clear"></div>
        
        {% block entry-comments-form %}
            {% if object.comments_are_open %}
                <aside id="new-comment">
                    <h3>{% trans "Add a new comment" %}</h3>
                    <p>{% blocktrans %}
                        Make sure you enter the <span>* required</span> 
                        information where indicated. Your email will be used to 
                        indicate if you real, and will not be shown public. If 
                        you have connected gravatar with your mail, your avatar 
                        will be shown. Comments are <strong>moderated</strong> 
                        – and <strong>rel="nofollow"</strong> is in use. Please 
                        no link dropping, do not spam, and do not advertise! 
                        Thank you!
                    {% endblocktrans %}</p>
                    {% render_comment_form for object %}
                </aside>
            {% endif %}
        {% endblock %}
    </article>
{% endblock %}

{% block admin_tools %}
    {% if perms.blog.change_entry %}
        <li>
            <a href="{% url admin:blog_entry_change object.pk %}" title="{% trans 'Edit the entry' %}">
                {% trans "Edit the entry" %}
            </a>
        </li>
    {% endif %}
{% endblock %}
