{% extends "blog/entry_list.html" %}
{% load i18n blog_tags %}

{% block description %}
    {% trans "Latest entries on" %} {{ site_name }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#slider').tabs({
                fx: { opacity: "toggle" }
            }).tabs("rotate", 5000, true);
            $('#slider').hover(
                function() {
                    $('#slider').tabs("rotate", 0, true);
                },
                function() {
                    $('#slider').tabs("rotate", 5000, true);
                }
            );
        });
    </script>
{% endblock %}

{% block content %}
    {% get_featured_entries 3 "blog/tags/slider_entries.html" %}
    {% for object in object_list %}
        <article id="post-{{ object.pk }}" class="post{% if forloop.last %} last{% endif %}">
            {% if object.excerpt %}
                {% with object_content=object.excerpt continue_reading=1 %}
                    {% include "blog/_entry_detail.html" %}
                {% endwith %}
            {% else %}
                {% with object_content=object.html_content|truncatewords_html:100|safe continue_reading=0 %}
                    {% include "blog/_entry_detail.html" %}
                {% endwith %}
            {% endif %}
        </article>
    {% empty %}
        <p>{% trans "No entries yet." %}
    {% endfor %}
{% endblock %}
