{% extends "blog/base.html" %}
{% load i18n comments blog_tags %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block description %}
    {% if object.excerpt %}
        {{ object.excerpt|striptags }}
    {% else %}
        {{ object.content|striptags|truncatewords:160 }}
    {% endif %}
{% endblock %}

{% block keywords %}
    {% if object.categories.count %}
        {% for category in object.categories.all %}
            {{ category }},
        {% endfor %}
    {% endif %}
    {% if object.tags %}
        {{ object.tags }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block link %}
    {{ block.super }}
    {% with object.previous_entry as previous_entry %}
        {% if previous_entry %}
            <link
                rel="prev"
                title="{{ previous_entry.title }}"
                href="{{ previous_entry.get_absolute_url }}" />
        {% endif %}
    {% endwith %}
    {% with object.next_entry as next_entry %}
        {% if next_entry %}
            <link
                rel="next"
                title="{{ next_entry.title }}"
                href="{{ next_entry.get_absolute_url }}" />
        {% endif %}
    {% endwith %}
    <link
        rel="shortlink"
        href="{{ object.short_url }}" />
    <link
        rel="canonical"
        href="{{ object.get_absolute_url }}" />
    {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of discussions on' %} '{{ object.title }}'"
            href="{% url blog_entry_discussion_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of comments on' %} '{{ object.title }}'"
            href="{% url blog_entry_comment_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of pingbacks on' %} '{{ object.title }}'"
            href="{% url blog_entry_pingback_feed year month day object.slug %}" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="{% trans 'RSS Feed of trackbacks on' %} '{{ object.title }}'"
            href="{% url blog_entry_trackback_feed year month day object.slug %}" />
    {% endwith %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for category in object.categories.all %}
        <li>
            <a href="{{ category.get_absolute_url }}" title="{% trans 'View all entries in' %} {{ category }}">{{ category }}</a>
        </li>
    {% endfor %}
    <li><a href="{{ object.get_absolute_url }}" title="{% trans 'View' %} {{ object.title }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
    <arcticle id="post-{{ object.pk }}" class="post">
        {% block entry-content %}
            {% with object.html_content|safe as object_content %}
                {% include "blog/_entry_detail.html" %}
            {% endwith %}
        {% endblock %}
        
        {% block entry-authors %}
            {% if object.authors.count %}
                <aside class="authors">
                    <h3>{% blocktrans count object.authors.count as author_count %}About the author{% plural %}About the authors{% endblocktrans %}</h3>
                    {% for author in object.authors.all %}
                        <div class="author-box">
                            <h3>{% if author.first_name %}{{ author.first_name }}{% if author.last_name %} {{ author.last_name }}{% endif %}{% else %}{{ author }}{% endif %}</h3>
                            <img src="{% get_gravatar author.email 60 'G' %}" class="gravatar photo" alt="{{ author.user_name }}" />
                            {% with author.get_profile.about as author_description %}
                                {% if author_description %}
                                    <p>{{ author_description }}</p>
                                {% else %}
                                    <p>{% trans "No author description yet." %}</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </aside>
            {% endif %}
        {% endblock %}
        
        {% block entry-widgets %}
            {% with object.next_entry as next_entry %}
                {% if next_entry %}
                    <aside class="entry-next">
                        <h3>{% trans "Next entry" %}</h3>
                        <p>
                            <a href="{{ next_entry.get_absolute_url }}" title="{% trans 'View' %} {{ next.entry.title }}" rel="next">
                                {{ next_entry.title }}
                            </a>
                        </p>
                    </aside>
                {% endif %}
            {% endwith %}
            {% with object.previous_entry as previous_entry %}
                {% if previous_entry %}
                    <aside class="entry-previous">
                        <h3>{% trans "Previous entry" %}</h3>
                        <p>
                            <a href="{{ previous_entry.get_absolute_url }}" title="{% trans 'View' %} {{ previous_entry.title }}" rel="prev">
                                {{ previous_entry.title }}
                            </a>
                        </p>
                    </aside>
                {% endif %}
            {% endwith %}
            {% if object.related_published %}
                <aside class="entry-related">
                    <h3>{% trans "Related entries" %}</h3>
                    <ul>
                        {% for entry in object.related_published %}
                            <li>
                                <a href="{{ entry.get_absolute_url }}" title="{% trans 'View' %} {{ entry.title }}" rel="bookmark">
                                    {{ entry.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
            <aside class="entry-similar">
                <h3>{% trans "Similar entries" %}</h3>
                {% get_similar_entries 5 %}
            </aside>
        {% endblock %}
        
        {% block entry-comments %}
            <aside id="comments">
                <h3>{% trans "Comments" %}</h3>
                {% with object.comments as comment_list %}
                    {% if comment_list.count %}
                        {% for comment in comment_list %}
                            <article id="comment_{{ comment.pk }}" class="comment">
                                <header>
                                    <img src="{% get_gravatar comment.email 60 'G' %}" class="gravatar photo" alt="{{ comment.user_name }}" />
                                    {% if comment.url %}
                                        <a href="{{ comment.url }}" rel="external nofollow" class="fn url">{{ comment.user_name }}</a>
                                    {% else %}
                                        {{ comment.user_name }}
                                    {% endif %}
                                    {% trans "on" %}
                                    <time datetime="{{ comment.submit_date|date:'c' }}">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                </header>
                                <p class="comment-info">
                                    {{ comment.comment|linebreaks }}
                                </p>
                            </article>
                        {% endfor %}
                        {% if not object.comments_are_open %}
                            <p>{% trans "Comments are closed." %}</p>
                        {% endif %}
                    {% else %}
                        {% if object.comments_are_open %}
                            <p>{% trans "No comments yet." %}</p>
                        {% else %}
                            <p>{% trans "Comments are closed." %}</p>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </aside>
        {% endblock %}
        
        {% block entry-pingbacks %}
            <aside id="pingbacks">
                <h3>{% trans "Pingbacks" %}</h3>
                {% with object.pingbacks as pingback_list %}
                    {% if pingback_list.count %}
                        {% for pingback in pingback_list %}
                            <article id="pingback_{{ pingback.pk }}" class="pingback">
                                <header>
                                    <a href="{{ pingback.url }}" rel="external nofollow" class="fn url org">
                                        {{ pingback.user_name }}
                                    </a>
                                    {% trans "on" %}
                                    <time datetime="{{ pingback.submit_date|date:'c' }}">{{ pingback.submit_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                </header>
                                <p class="pingback-info">
                                    {{ pingback.comment }}
                                </p>
                            </article>
                        {% endfor %}
                    {% endif %}
                    {% if object.pingback_enabled %}
                        <p>{% trans "Pingbacks are open." %}</p>
                    {% else %}
                        <p>{% trans "Pingbacks are closed." %}</p>
                    {% endif %}
                {% endwith %}
            </aside>
        {% endblock %}
        
        {% block entry-trackbacks %}
            {% with object.trackbacks as trackback_list %}
                {% if trackback_list.count or object.pingback_enabled %}
                    <aside id="trackbacks">
                        <h3>{% trans "Trackbacks" %}</h3>
                        {% if trackback_list.count %}
                            {% for trackback in trackback_list %}
                                <article id="trackback_{{ trackback.pk }}" class="trackback">
                                    <header>
                                        <a href="{{ trackback.url }}" rel="external nofollow" class="fn url org">
                                            {{ trackback.user_name }}
                                        </a>
                                        {% trans "on" %}
                                        <time datetime="{{ trackback.submit_date|date:'c' }}">{{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                    </header>
                                    <p class="trackback-info">
                                        {{ trackback.comment }}
                                    </p>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if object.pingback_enabled %}
                            <p>
                                <a href="{% url blog_entry_trackback object.pk %}" rel="trackback">
                                    {% trans "Trackback URL " %}
                                </a>
                            </p>
                        {% endif %}
                    </aside>
                {% endif %}
            {% endwith %}
        {% endblock %}
        
        {% block entry-comments-form %}
            {% if object.comments_are_open %}
                <aside id="new-comment">
                    <h3>{% trans "Add a new comment" %}</h3>
                    {% render_comment_form for object %}
                </aside>
            {% endif %}
        {% endblock %}
    </article>
{% endblock %}

{% block admin_tools %}
    {% if perms.blog.change_entry %}
        <li>
            <a href="{% url admin:blog_entry_change object.pk %}" title="{% trans 'Edit the entry' %}">
                {% trans "Edit the entry" %}
            </a>
        </li>
    {% endif %}
{% endblock %}
