{% extends "blog/entry_list.html" %}
{% load i18n blog_tags %}

{% block title %}
    {% trans "Search results for" %} 
    {% if pattern %}'{{ pattern }}'{% endif %}
    {% if page_obj %}
        {% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block description %}
    {% trans "Search results for" %} 
    {% if pattern %}'{{ pattern }}'{% endif %}
    {% if page_obj %}
        {% ifnotequal page_obj.number 1 %} {% trans "page" %} {{ page_obj.number }}{% endifnotequal %}
    {% endif %}
    {% trans "on" %} {{ site_name }}
{% endblock %}

{% block link %}
    {{ block.super }}
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{% trans 'RSS Feed of search result of' %} '{{ pattern }}'"
        href="{% url blog_entry_search_feed %}?pattern={{ pattern }}" />
{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>
                <a href="{% url blog_entry_search_feed %}?pattern={{ pattern }}">
                    {% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}
                </a>
            </h2>
        </header>
        <div class="entry-content">
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            {% if object_list %}
                <p class="success">
                    {% blocktrans count paginator.count as entry_count %}{{ entry_count }} entry found{% plural %}{{ entry_count }} entries found{% endblocktrans %}
                </p>
            {% endif %}
            {% for object in object_list %}
                {% with object.html_content|truncatewords_html:100|safe as object_content %}
                    <section>
                        {% include "blog/_entry_detail.html" %}
                    </section>
                {% endwith %}
            {% empty %}
                <p class="notice">{% trans "Nothing found." %}</p>
            {% endfor %}
            <div class="search">
                <form role="search" method="GET" class="searchform" action="{% url blog_entry_search %}">
                    <div>
                        <label class="screen-reader-text" for="s"></label>
                        <input type="text" class="text blue" placeholder="{{ pattern }}" name="s" id="s">
                        <button type="submit" class="blue">
                            <span>{% trans "Search" %}</span>
                        </button>
                        <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
                            <img src="{{ STATIC_URL }}blog/img/help.png" alt="?" width="14" height="14" />
                        </a>
                    </div>
                </form>
            </div>
            {% if is_paginated %}
                {% blog_pagination page_obj %}
            {% endif %}
        </div>
    </article>
{% endblock %}
