{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Login required" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>
                <a href=".">{% trans "Login required" %}</a>
            </h2>
        </header>
        <div class="entry-content">
            {% if form.errors %}
                <p class="error">
                    {% trans "Your username and password didn't match. Please try again." %}
                </p>
            {% endif %}
            <p>
                {% trans "You need to be connected to view this entry." %}
            </p>
            <form method="POST" action=".">
            {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="hidden" name="next" value="." />
                            <input type="submit" value="{% trans 'Login' %}" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </article>
{% endblock %}
