{% extends "blog/base.html" %}
{% load i18n %}

{% block description %}
    {% trans "Tag list on" %} {{ site_name }}
{% endblock %}

{% block title %}
    {% trans "Tags" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <article class="post">
        <header class="entry-header">
            <h2>
                <a href=".">{% trans "Tag list" %}</a>
            </h2>
        </header>
        <div class="entry-content">
            <ul>
                {% for object in object_list %}
                    <li>
                        <a href="{% url blog_tag_detail object %}" title="{{ object }}">
                            {{ object }}
                        </a>
                        {% blocktrans count object.count as entry_count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
                    </li>
                {% empty %}
                    <li>{% trans "No tags yet." %}</li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}
