{% load i18n mptt_tags %}
<ul>
    {% recursetree categories %}
    <li>
        <a href="{{ node.get_absolute_url }}" title="{{ node }}">
            {{ node }}
        </a>
        {% with entry_count=node.entries_published.count %}
            ({{ entry_count }})
        {% endwith %}
        {% if not node.is_leaf_node %}
            <ul>
                {{ children }}
            </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
    {% if not categories %}
        <li>{% trans "No categories yet." %}
    {% endif %}
</ul>
