{% load i18n blog_tags %}
<ul>
    {% for comment in comments %}
        <li class="clearfix">
            {% with entry=comment.content_object %}
                <div class="left">
                    <a href="{{ entry.get_absolute_url }}#comment_{{ comment.pk }}" title="{% trans 'Comment on' %} {{ entry.title }}">
                        <img alt="{{ comment.user_name }}" src="{% get_gravatar comment.user_email '32' %}" />
                    </a>
                </div>
                <div class="right">
                    <a class="comment-author" href="{{ entry.get_absolute_url }}#comment_{{ comment.pk }}" title="{% trans 'Comment on' %} {{ entry.title }}">{{ comment.user_name }}</a>
                    {% trans "on" %}
                    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
                        {{ entry.title }}
                    </a>
                </div>
            {% endwith %}
        </li>
    {% empty %}
        <li>{% trans "No comments yet." %}</li>  
    {% endfor %}
</ul>
