{% load i18n %}
{% if entries %}
    <div id="slider" class="clearfix">
        <div class="slideshow-outer">
            {% for entry in entries %}
                <div id="entry-slider-{{ forloop.counter }}" class="ui-tabs-panel">
                    <a href="{{ entry.get_absolute_url }}" rel="bookmark">
                        {% if entry.image %}
                            <img src="{{ entry.image }}" alt="{{ entry.title }}" />
                        {% else %}
                            <img src="{{ STATIC_URL|default:'/static/' }}lib/images/test.jpg" alt="{{ entry.title }}" />
                        {% endif %}
                        <span class="slideshow-entry">
                            <span class="entry-title">{{ entry.title }}</span>
                            <time datetime="{{ entry.creation_date|date:'c' }}">{{ entry.creation_date|date:"DATE_FORMAT" }}</time>
                            <span class="entry-summary">
                                {{ entry.excerpt|truncatewords_html:20 }}
                            </span>
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="slideshow-list">
            <ul class="ui-tabs-nav">
                {% for entry in entries %}
                    <li class="ui-tabs-nav-item{% if forloop.first %} ui-tabs-selected{% endif %}" id="nav-slider-{{ forloop.counter }}">
                        <a href="#entry-slider-{{ forloop.counter }}">
                            <span class="entry-title">
                                {{ entry.title }}
                            </span>
                            <span class="entry-meta">
                                <time datetime="{{ entry.creation_date|date:'c' }}">{{ entry.creation_date|date:"SHORT_DATE_FORMAT" }}</time> |
                                {% if entry.comments_are_open %}
                                    {% blocktrans count comment_count=entry.comments.count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
                                {% else %}
                                    {% trans "Comments are closed" %}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
