<aside class="widget follow">
    <h3 class="widget-title">
        Follow Me
    </h3>
    <div class="widget-content">
        <ul class="sociallinks clearfix">
            <li class="rss"><a href="#">RSS Feed</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
            <li class="youtube"><a href="#">YouTube</a></li>
            <li class="gplus"><a href="#">Google+</a></li>
            <li class="lastfm"><a href="#">Last.fm</a></li>
            <li class="deviantart"><a href="#">Deviantart</a></li>
            <li class="xing"><a href="#">Xing</a></li>
        </ul>
    </div>
</aside>

<aside class="widget follow">
    <h3 class="widget-title">
        Meistgelesen
    </h3>
    <div class="widget-content">
        <ul>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
            <li><a href="#">Howto: Veetle unter Ubuntu 64-bit installieren</a></li>
        </ul>
    </div>
</aside>
