<a title="" href="#header" class="go-top">nach oben &uarr;</a>
<div class="footer-left">
    <p>Alle Inhalte sind, sofern nicht anderweitig angegeben, unter der <a title="" href="#">Creative Commons BY-SA 3.0 (German)</a> lizenziert.</p>
    <ul class="clearfix">
        <li><a title="" href="#">Datenschutz</a></li>
        <li><a title="" href="#">Impressum</a></li>
        <li><a title="" href="#">Kontakt</a></li>
        <li><a title="" href="#">Sitemap</a></li>
        <li><a title="" href="#">Anmelden</a></li>
    </ul>
</div>
<div class="footer-right">
    <p>Copyright &copy; 2011 gironimo.org</p>
</div>
<div class="clear"></div>
