<div class="site-wrapper">
    <hgroup id="branding">
        <h1>
            <a href="{% url blog_entry_archive_index %}" title="Gironimo.org Startseite">gironimo.org</a>
        </h1>
        <h2>Linux, das Web und Ich</h2>
    </hgroup>
    <nav id="main-navigation" role="navigation">
        <ul class="sf-menu clearfix">
            <li class="active">
                <a href="{% url blog_entry_archive_index %}" title="Gironimo.org Startseite">Blog</a>
                <ul class="submenu">
                    <li><a href="#" title="">Kategorien</a></li>
                    <li><a href="#" title="">Archiv</a></li>
                </ul>
            </li>
            <li><a href="#" title="">Fachartikel</a></li>
            <li>
                <a href="#" title="">Portfolio</a>
                <ul class="submenu">
                    <li><a href="#" title="">Projekte</a></li>
                    <li><a href="#" title="">Studium</a></li>
                    <li><a href="#" title="">Websites</a></li>
                </ul>
            </li>
            <li><a href="#" title="">Galerie</a></li>
            <li><a href="#" title="">About</a></li>
        </ul>
    </nav>
</div>
