{% extends "base.html" %}

{% block title %}
    {% if page.html_title %}{{ page.html_title }} - {% else %}{{ page.title }} - {% endif %}{{ block.super }}
{% endblock %}

{% block description %}
    {% if page.html_description %}{{ page.html_description }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block keywords %}
    {% if page.html_keywords %}{{ page.html_keywords }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block content %}
    <article class="post" id="page-{{ page.id }}">
        <header class="entry-header">
            <h2>
                <a href="{{ page.url }}" title="{{ page.title }} lesen">{{ page.title }}</a>
            </h2>
        </header>
        <div class="entry-content">
            {{ page.content|safe }}
        </div>
        <footer class="entry-footer">
            <ul class="entry-footer-meta clearfix">
                <li><a href="javascript:window.print();">Seite drucken</a></li>
                <li><a href="#">PDF Dokument erzeugen</a></li>
                <li>Letzte Änderung: <time datetime="{{ page.modified|date:'c' }}">{{ page.modified|date:"d. F Y" }}</time></li>
            </ul>
        </footer>
    </article>
{% endblock %}
