{% load comments i18n %}

<form method="POST" class="contentform" action="{% comment_form_target %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url blog_discussion_success %}" />
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="rowfield{% if field.field.required %} required{% endif %}{% if field.errors %} errors{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                <label class="field-name" for="{{ field.auto_id }}">
                    {{ field.label|escape }}{% if field.field.required %} <span>*</span>{% endif %}
                </label>
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {% if field.help_text %}
                    <p class="helptext">
                        {{ field.help_text|safe }}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" name="submit" class="blue">
        <span>{% trans "Post" %}</span>
    </button>
    <button type="submit" name="preview" class="red">
        <span>{% trans "Preview" %}</span>
    </button>
</form>
